.HomePage {
    border: none;
}

.HomePage-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 35px 20px;
    gap: 10px;
}

.MetricsPanel {
    background-color: rgba(149, 66, 66, 0.3);
    color: var(--main-red);
    border-radius: 4px;
    padding: 0 10px;
}

.Metrics-title {
    font-size: 20px;
    padding: 12px;
    justify-content: center;
    display: flex;
}

.Metrics-data {
    font-size: 40px;
    padding: 4px;
    justify-content: center;
    display: flex;
}

.HomePage-charts {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    padding: 20px 35px;
}

.chart-container {
    width: 45%;
    background-color: rgba(220, 220, 220, 0.2);
    border-radius: 8px;
    padding: 20px;
}

.chart-title {
    text-align: center;
    font-size: 24px;
    margin-bottom: 20px;
}

canvas {
    max-height: 300px;
}

.HomePage-charts {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 -10px;
}

.chart-container {
    flex: 0 0 calc(50% - 20px);
    margin: 10px;
    box-sizing: border-box;
}